.container {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	background: rgb(252, 242, 252);

	img {
		max-width: 80%;
	}
}

.content {
	flex-grow: 1;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	-webkit-box-shadow: 0px 20px 32px -26px rgba(161,145,161,1);
	-moz-box-shadow: 0px 20px 32px -26px rgba(161,145,161,1);
	box-shadow: 0px 20px 32px -26px rgba(161,145,161,1);
	background: rgba(255, 245, 255, 1);	
}